* {
    box-sizing: border-box;
    font-family: Arial;
}
/* Full-width input fields */
.modal input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 6px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;  
  font-size: 17px;
}

/* Add a background color when the inputs get focus */
.modal input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.modal button {
  border-radius: 6px;
  background:#24ac24;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  
}

.modal button:hover {
  opacity:1;
}


/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto; 
  border: 1px solid #888;
  width: 40%;
  padding: 0;
  position:relative;
}

/* Style the horizontal ruler */
.modal hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  color: #666666;
  float: right;
  font-size: 28px;
  position: relative;
  margin-right: 15px;
  margin-top: 5px;
}

.close:hover,
.close:focus {
  color: #aaa;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
